<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "App" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= if @current_user do %>
      <header class="px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
          <div class="flex items-center gap-4">
            <a href="/">
              <img src={~p"/images/logo.svg"} width="36" />
            </a>
            <p class="bg-green-800/5 text-green-700 rounded-full px-2 font-medium leading-6">
              $<%= @current_user.cash %>
            </p>
            <a href="/avatar_selection">
              <img class="rounded-full" src={~p"/images/astronaut.png"} width="36" />
            </a>
            <p><%= @current_user.username %></p>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80"
            >
              Log out
            </.link>
          </div>
          <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          </div>
        </div>
      </header>
    <% else %>
      <header class="px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
          <div class="flex items-center gap-4">
            <a href="/">
              <img src={~p"/images/logo.svg"} width="36" />
            </a>
            <.link
              href={~p"/users/log_in"}
              class="rounded-lg"
            >
              Log in
            </.link>
            <.link
              href={~p"/users/register"}
              class="rounded-lg"
            >
              Register
            </.link>
          </div>
          <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          </div>
        </div>
      </header>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
