<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "App" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= if @current_user do %>
      <header class="px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
          <div class="flex items-center gap-4">
            <a href="/">
              <img src={~p"/images/logo.svg"} width="36" />
            </a>
            <p><%= @current_user.username %></p>
            <p><%= @current_user.type %></p>
            <%= if @current_user.type == "student" do %>
              <p class="bg-green-800/5 text-green-700 rounded-full px-2 font-medium leading-6">
                $<%= @current_user.cash %>
              </p>
              <a href="/avatar_selection">
                <.avatar src={Accounts.get_avatar_image_by_user(@current_user)} rarity={Accounts.get_avatar_rarity_by_user(@current_user)} width="36" />
              </a>
              <a href="/shop">
                <%= Heroicons.icon("shopping-cart", type: "outline", class: "h-6 w-6") %>
              </a>
            <% end %>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80"
            >
              Log Out
            </.link>
          </div>
          <div class="flex items-center gap-4 font-semibold leading-6">
            <%= if @current_user.type == "student" do %>
              <.link
                href={~p"/class_settings"}
                class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80"
              >
                Manage Class
              </.link>
              <p class="text-blue-600" :if={@current_user.class != nil}> Class: <%= @current_user.class %> </p>
              <.link
                :if={@current_user.class != nil}
                href={~p"/class_index"}
                class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80 text-orange-800"
              >
                Class Index
              </.link>
            <% else %>
              <.link
                href={~p"/class_index"}
                class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80 text-orange-800"
              >
                Class Index
              </.link>
            <% end %>
          </div>
        </div>
      </header>
    <% else %>
      <header class="px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
          <div class="flex items-center gap-4">
            <a href="/">
              <img src={~p"/images/logo.svg"} width="36" />
            </a>
            <.link
              href={~p"/users/log_in"}
              class="rounded-lg"
            >
              Log in
            </.link>
            <.link
              href={~p"/users/register"}
              class="rounded-lg"
            >
              Register
            </.link>
          </div>
          <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900">
          </div>
        </div>
      </header>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
